@font-face {
    font-family: 'pt_sansbold';
    src: url('/fonts/ptsansbold_0-webfont.eot');
    src: url('/fonts/ptsansbold_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/ptsansbold_0-webfont.woff2') format('woff2'),
         url('/fonts/ptsansbold_0-webfont.woff') format('woff'),
         url('/fonts/ptsansbold_0-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'pt_sansregular';
    src: url('/fonts/pts55f-webfont.eot');
    src: url('/fonts/pts55f-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/pts55f-webfont.woff2') format('woff2'),
         url('/fonts/pts55f-webfont.woff') format('woff'),
         url('/fonts/pts55f-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

