header {    
    background-color: $bgHeaderColor;
    .navbar {
        margin-bottom: 0;
        background: none;
        border: none;
        height: 80px;
        z-index: 10;
        .navbar-header {
            height: 80px;
            background: #34303f;
            margin-left: -15px;
            button.navbar-toggle {
                float: left;
                width: auto
            }
        }
    }   
    .navbar-inverse,.navbar-collapse {
           /* background: #5d5a65;*/
            border: none;
            background: #5d5a65;
            width: 100%;
        @include sm-block() {
           padding-left: 0
        }
    } 
    ul.nav.navbar-nav {
        background: rgb(73,69,82);
        position: relative;
        &::after {
            content: "";
           position: absolute;
            top: 0;
            right: -58px;
            border: 40px solid rgba(0, 0, 0, 0);
            border-left: 20px solid #494552;
            z-index: 1;
        }
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            border: 40px solid transparent;
            border-left: 20px solid #34303f;
            z-index: 1;
        }
        @include sm-block() {
            margin: 0;
            &::after,&::before {
                display: none;
            } 
        }
        li {
            &:first-of-type {
                a {
                    padding-left: 60px;
                }
            }
            @include sm-block() {
                &:first-of-type {
                    a {
                        padding-left: 10px;
                   }
                }
            }
            a {
                font-size: 16px;
                padding: 25px 10px;
                padding-left: 10px;
                line-height: 30px;
                color: #fff;
                &:hover {
                    color: #ffcc00;
                }
            }
            > .dropdown-menu {
                padding: 20px;
                border-radius: 6px;
                &::before {
                    content: "";
                    display: block;
                    width: 21px;
                    height: 21px;
                    position: absolute;
                    top: -11px;
                    left: 36px;
                    background-color: #fff;
                    transform: rotate(45deg);
                    z-index: -3;
                }
                li {
                    display: table-row;
                    a {
                        padding: 0px 10px;
                        display: table-cell;
                        font-size: 14px;
                        color: #333; 
                        &:hover {
                            background: #ffcc00;
                            border-radius: 5px;
                        }
                    }
                }
            }
        }
    }
    .nav-bl3 {
       height: 80px;
        background: #5D5A65;
        position: absolute;
        right: 0;
        .btn {
            border-radius: 25px;
            background: none;
            font-size: 16px;
            padding: 6px 20px;
            margin-top: 19px;
            border: none;
            font-weight: 700;
            border: 2px solid #fc0;
            color: #fc0;
            &:hover {
                background: #fc0;
                color: #35313F;
            }
            i {
                padding-left: .5rem; 
            }
        }        
    }
    .navbar-form.navbar-left {
        margin-top: 20px;
        padding-left: 40px;
        position: relative;
        .form-control {
            border-radius: 25px;  
            padding: 19px 16px;
            font-size: 16px;
            line-height: 16px;
            &:hover {
                border: 2px solid #ffcc00;
            }
        }
        .fa {
            color: #ccc;
            position: absolute;
            font-size: 20px;
            right: 30px;
            top: 9px;
        }
    }
    .logo {
        img {
            width: 200px;
        }
    }
    @include sm-block() {
        .container-fluid {
            padding-left: 0;
        }
    }
    .user {       
        padding: 0;
        display: inline-block;
        ul {
            display: none;
        }
        li {
            list-style: none;
            a {
                max-width: 7.5em;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            &:hover {
                ul {
                    display: block;
                }                
            }
            ul {
                li {
                    background: #fff;
                    padding: 10px;
                    display: inline-block;
                    border: 2px solid #999;
                    width: 100%;
                    text-align: center;
                    a {
                        color: #333;
                        font-size: 14px;
                    }
                }
            }
        }
    }    
}
.navbar-bg-right {
    position: absolute;
    width: 30%;
    height: 80px;
    background: #5d5a65;
        background-color: rgb(93, 90, 101);
        background-position-x: 0%;
        background-position-y: 0%;
        background-repeat: repeat;
        background-attachment: scroll;
        background-image: none;
        background-size: auto;
        background-origin: padding-box;
        background-clip: border-box;
    top: 0;
    right: 0;
    z-index: 0;
}