@import "includes/variables.scss";
@import "includes/mixins.scss";
@import "includes/fonts.scss";
@import "includes/header.scss";
@import "includes/footer.scss";
@import "includes/buttons.scss"; // кнопки
@import "includes/lk.scss"; // личный кабинет
@import "includes/main-page.scss"; // главная
@import "includes/categories.scss"; // вывод категорий фильмов
@import "includes/comments.scss"; // комментарии
@import "includes/film-view.scss"; // смотреть фильм
@import "includes/modals.scss";
@import "includes/static-page.scss";

body {
    font: #{$defaultFontSize}/#{$defaultLineHeight} 'pt_sansregular';
    color: #35313F;
    min-width: $break_lg;    
}
section {
    padding: 37px 0;
    position: relative;
}
.btn {
    background: #ffcc00;
    border-radius: 15px;
    padding: 5px 10px;
    color: #000;
    margin: 0 5px;
    margin-top: 0px;
    display: inline-block;
    border: none;
    font-family: 'pt_sansbold';
}
.h-title {
    font: 30px/36px 'pt_sansregular';
    text-align: center;
    margin-bottom: 30px;
}
.page-content {
    min-height: 70vh;
}
.container {
    width: $break_lg - ($basePadding * 2);
}
.visible-mobile {
    display: none;
}


